

body {
    background-image: url(../images/blackglitter.jpg); 
    background-size: 500px 500px;
    background-repeat: repeat;
    background-position: right top;
    background-attachment: fixed;
    color:#000;
    font-family: 'Lato', sans-serif;
    
}




.container {
    border: 5px solid #ff3399;
    max-width: 960px;
    width: 75%;
    margin: 35px;
    padding: 35px;
    background-color: #fff;;
    
}

#game-rules {
    line-height: 25px;
    text-align: center;
    
}


#bunnyCat, #boaCat, #pirateCat, #watermelonCat {
    height: 200px;
    width: auto;
    border: 3px solid #fff;
}

h1 {
    font-size: 65px;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-weight: 700;
    color: #ff3399;
    text-decoration: underline;
    
}

#target-number {
    width: 100px;
    height: 100px;
    border: 4px solid #ff3399;
    font-size: 90px;
    padding: 15px;
    background-color: #ffe6f3;
    float: left;
    margin-top: 15px;
    
}

#scoreboard {
     width: 725px;
    height: 100px;
    border: 4px solid #ff3399;
    font-size: 25px;
    padding: 15px;
    background-color: #ffe6f3;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    
    
}

/*total-score {
    width: 875px;
    height: 50px;
    border: 4px solid #ff3399;
    font-size: 25px;
    font-weight: 700;
    background-color: #ffe6f3;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 35px;
}

#score {
    text-align: center;
} */